apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd-dp
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
    spec:
      containers:
      - name: httpd
        image: httpd:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: http-svc-int
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: httpd
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: http-svc-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: httpd
  ports:
  - port: 80
    targetPort: 80
    nodePort: 32501
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: http-svc-ext
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: httpd
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP