apiVersion: v1
kind: Pod
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: registry.rebrainme.com/workshops/middle/kubernetes-local/newplatform_autochecks/nginx:latest
    ports:
    - containerPort: 80
    env:
    - name: COOL_USER
      valueFrom:
        secretKeyRef:
          name: creds
          key: username
    - name: COOL_PASSWORD
      valueFrom:
        secretKeyRef:
          name: creds
          key: password
    - name: MY_NODE
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: MY_POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: MY_POD_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    volumeMounts:
    - name: nginx-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
    - name: pod-info
      mountPath: /etc/pod-info
  imagePullSecrets:
  - name: regcred
  volumes:
  - name: nginx-config
    configMap:
      name: nginx-config
  - name: pod-info
    downwardAPI:
      items:
      - path: "node-name"
        fieldRef:
          fieldPath: spec.nodeName
      - path: "pod-name"
        fieldRef:
          fieldPath: metadata.name
      - path: "pod-namespace"
        fieldRef:
          fieldPath: metadata.namespace
      - path: "labels"
        fieldRef:
          fieldPath: metadata.labels